
.caroussel{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}
.quadrado{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 360px;
    height: 400px;
    background-color: #a85555;
    color: #f0f8ff;
}

.text{
    background-color: gray;
    height: 50px;
    width: 100vw;
}

.card{
    height: 600px;
    width: 500px;
    display: flex;
    border: solid 2px #678C99;
    background-color: transparent;
    box-shadow: 2px #00000050;
}

.optCard{
    display: flex;
    justify-content: center;
}